
html {
    width: 100%;
    height: 100%;
}

body {
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    color: #000;
    background: #ffffff;
    font-size: large;
    /* font-family: 'Roboto', sans-serif; */
}

p {
    text-align: justify;
    text-justify: inter-word;
}

a:hover {
    background-color: rgb(33, 207, 10);
}

#header {
    padding: 5px 0px;
    color: #755555;
    text-align: center;
    margin: auto;
    border-bottom: 5px solid;
}

h3 {
    font-weight: 900;
}
h2{
    font-size: 50px;
    color: darkblue;
    text-transform: capitalize;
}
mark {
    font-weight: bold;
}

.logo {
    float: left;
    height: 50px;
    font-size: 30px;
    line-height: 15px;
    font-family: fantasy;
}
.heart {
    text-decoration: none;
    color: red;
    font-size: 20px;
}

.container {
    padding: 20px;
    margin: auto;
    width: 100%;
    overflow-x: hidden;
}

@media (min-width:320px) {
    .container {
        width: 320px;
    }
}

@media (min-width:481px) {
    .container {
        width: 481px;
    }
}

@media (min-width:641px) {
    .container {
        width: 641px;
    }
}

@media (min-width:961px) {
    .container {
        width: 961px;
    }
}

@media (min-width:1000px) {
    .container {
        width: 1000px;
    }
}

nav {
    border: palegreen;
    border-radius: 0rem;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li>a {
    display: block;
    color: rgb(221, 53, 53);
    padding: 14px 16px;
    float: right;
    text-decoration: none;
    font-weight: bold;
}

.listing {
    border: 2px solid sienna;
    display: block;
    padding: 0;
    float: none;
    margin: 0px;
    text-decoration: none;
    font-size: 25px;
    color: darkblue;
    font-family: monospace;
    font-weight: bolder;
    text-align: center;
    background-color: chartreuse;
    width: 60%;
    border-radius: 10px;
}

a:active {
    background-color: peru;
}


/* #background_image {
    background: url(https://i.ibb.co/wKVDMLm/Movie-Iron-Man-HD-Photos-Download.jpg) no-repeat center;
    color: #fff;
    margin: auto;
    margin-top: 25px;
} */

.banner-image {
    height: 500px;
    padding-top: 50px;
    text-align: center;
    color: #f8f8f8;
    background: url(https://i.ibb.co/wKVDMLm/Movie-Iron-Man-HD-Photos-Download.jpg)no-repeat center fixed;
    background-size: cover;
}

.inner-banner-image {
    padding-top: 12%;
    width: 80%;
    margin: auto;
}

.banner_content {
    position: relative;
    padding-top: 6%;
    padding-bottom: 6%;
    overflow: hidden;
    margin-bottom: 12%;
    background-color: rgba(0, 0, 0, 0.7);
    max-width: 660px;
}

.button {
    color: #fff;
    background-color: #c9302c;
    border-color: #ac2925;
    box-shadow: inset 0 3px 5px rgba(197, 152, 152, 0.125);
    padding: 10px 16px;
    font-size: 18px;
    border-radius: 6px;
}

@media (max-width:961px) {
    #background_image {
        background: url(https://i.ibb.co/wKVDMLm/Movie-Iron-Man-HD-Photos-Download.jpg) no-repeat center;
    }
}

.right {
    float: right;
}

.left {
    float: left;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th,
td {
    padding: 15px;
    border: 1px solid #a4a4a4;
    height: 30px;
    font-weight: bold;
}

th {
    text-align: left;
    background-color: #ececec;
}

#image {
    float: left;
    padding: 0px 20px 20px 0px;
}

#content {
    background-color: rgba(0, 0, 0, 0.7);
    max-width: 450px;
    padding: 30px 20px;
    margin-top: 50px;
}

#content h2 {
    font-size: 16px;
    font-weight: normal;
}


/*
@media (min-width:320px) {  #content {
                                max-width: 320px;
                            } }
@media (min-width:481px) {   #content {
                                 width: 481px;
                             } }
@media (min-width:641px) {   #content {
                                 width: 100%;
                             } }
@media (min-width:961px) {   #content {
                                 max-width: 450px;
                             } }
@media (min-width:1000px) {  #content {
                                 max-width: 450px;
                             } }
*/

.list_box {
    width: 100%;
    overflow: hidden;
}

.box {
    display: inline-block;
    width: 50%;
    font-weight: bold;
    /* float:left; */
}

@media (max-width:481px) {
    .box {
        width: 100%;
    }
    #image {
        width: 100%;
    }
    h2 {
        text-align: center;
    }
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}

#identity {
    overflow: hidden;
}

.thumbnail {
    display: inline-block;
    height: auto;
    padding: 4px;
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid #a4a4a4;
    text-align: center;
    color: #666;
    margin: 50px;
}

@media (max-width:1000px) {
    .thumbnail {
        margin: 30px;
    }
}

.input {
    border: orchid;
    background-color: #09013a;
    color: rgb(235, 241, 234);
    font-size: 16px;
    margin: 4px -4px;
    padding: 20px 25px;
    text-decoration: none;
    font-family: cursive;
    font-weight: bold;
}

footer {
    padding: 10px 0;
    color: rgb(90, 4, 4);
    border-top: 2px solid;
    margin: auto;
}

footer h4 {
    text-align: center;
}